.App {
  text-align: center;
}



.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.titleSection {
    color: red;
    font-family: 'Chewy', cursive;
    font-size: 40px;
}
.App-intro {
    font-size: 30px;
    font-family: 'Orbitron', sans-serif;
}
.surpriseButton {
    background-color: orangered; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    display: inline-block;
    font-size: 16px;
}

.blake {
    width: 500px;
    height: auto;
}
h2 {
    color: orangered;
    font-family: 'Chewy', cursive;
    font-size: 35px;
}
h3 {
    color: red;
    font-family: 'Orbitron', sans-serif;
}